.vscode/settings.json
main
main.o
SHA256.o
SIMPLESOCKET.o
TASK3.o
TASK4.o
TASK5.o
DOXYGENDOC/html/annotated.html
DOXYGENDOC/html/bc_s.png
DOXYGENDOC/html/bc_sd.png
DOXYGENDOC/html/classes.html
DOXYGENDOC/html/closed.png
DOXYGENDOC/html/d0/d31/classTASK5_1_1ISubject.html
DOXYGENDOC/html/d0/d35/classTASK5_1_1ConcreteObserver__coll__graph.dot
DOXYGENDOC/html/d0/d74/classTASK5_1_1Subject__inherit__graph.dot
DOXYGENDOC/html/d0/d81/SIMPLESOCKET_8H.html
DOXYGENDOC/html/d0/d81/SIMPLESOCKET_8H_source.html
DOXYGENDOC/html/d0/ddd/classTASK6_1_1Queue__coll__graph.dot
DOXYGENDOC/html/d0/de9/classTASK5_1_1ConcreteObserver__inherit__graph.dot
DOXYGENDOC/html/d1/d6d/classTASK3_1_1World.html
DOXYGENDOC/html/d1/d7e/classTASK5_1_1IObserver.html
DOXYGENDOC/html/d1/dd4/SHA256_8H.html
DOXYGENDOC/html/d1/dd4/SHA256_8H_source.html
DOXYGENDOC/html/d1/de2/classTASK5_1_1WebCamObserver__coll__graph.dot
DOXYGENDOC/html/d2/d0f/classTASK3_1_1Ship__coll__graph.dot
DOXYGENDOC/html/d2/d2c/classTASK6_1_1Queue__inherit__graph.dot
DOXYGENDOC/html/d2/d3b/classTASK6_1_1ITestItem__inherit__graph.dot
DOXYGENDOC/html/d2/d74/TASK6_8H__incl.dot
DOXYGENDOC/html/d2/db2/classTASK3_1_1Ship.html
DOXYGENDOC/html/d3/d58/namespaceTASK3.html
DOXYGENDOC/html/d3/d67/classTASK6_1_1TestCase.html
DOXYGENDOC/html/d3/dd9/classTASK5_1_1ConcreteSubject.html
DOXYGENDOC/html/d4/d02/classTASK6_1_1Element.html
DOXYGENDOC/html/d4/d68/classTASK5_1_1WebCamObserverGray__inherit__graph.dot
DOXYGENDOC/html/d4/d9a/classTASK6_1_1UnitTest.html
DOXYGENDOC/html/d4/df7/classTASK6_1_1TestSuite__inherit__graph.dot
DOXYGENDOC/html/d4/dfc/classTASK5_1_1WebCamObserverDownscale__coll__graph.dot
DOXYGENDOC/html/d4/dfe/classTASK5_1_1WebCamSubject.html
DOXYGENDOC/html/d4/dff/classTASK6_1_1ITestItem.html
DOXYGENDOC/html/d5/d48/classInputTest__A.html
DOXYGENDOC/html/d5/d5f/classTASK5_1_1WebCamObserver__inherit__graph.dot
DOXYGENDOC/html/d5/d91/namespaceTASK5.html
DOXYGENDOC/html/d5/d9d/classTASK6_1_1TestItem__inherit__graph.dot
DOXYGENDOC/html/d5/df4/SIMPLESOCKET_8H__incl.dot
DOXYGENDOC/html/d6/d0c/SHA256_8H__incl.dot
DOXYGENDOC/html/d6/d0e/classTASK5_1_1IObserver__inherit__graph.dot
DOXYGENDOC/html/d6/d10/classTASK5_1_1ISubject__inherit__graph.dot
DOXYGENDOC/html/d6/d34/classTASK6_1_1UnitTest__coll__graph.dot
DOXYGENDOC/html/d6/d44/classTASK5_1_1WebCamSubject__coll__graph.dot
DOXYGENDOC/html/d6/d5a/classTASK5_1_1WebCamObserverDownscale.html
DOXYGENDOC/html/d6/d82/classTASK5_1_1WebCamSubject__inherit__graph.dot
DOXYGENDOC/html/d6/d9a/classTASK3_1_1Block.html
DOXYGENDOC/html/d7/d02/classInputTest__A__coll__graph.dot
DOXYGENDOC/html/d7/d0f/classTASK6_1_1TestSuite.html
DOXYGENDOC/html/d7/de8/TASK5_8H.html
DOXYGENDOC/html/d7/de8/TASK5_8H_source.html
DOXYGENDOC/html/d8/d03/classInputTest__A__inherit__graph.dot
DOXYGENDOC/html/d8/dbc/classTASK5_1_1WebCamObserverGray__coll__graph.dot
DOXYGENDOC/html/d8/dd9/classTASK6_1_1TestCase__inherit__graph.dot
DOXYGENDOC/html/d8/dde/classTASK6_1_1TestItem__coll__graph.dot
DOXYGENDOC/html/d8/de7/TASK5_8H__incl.dot
DOXYGENDOC/html/d9/d01/classTASK5_1_1ConcreteSubject__coll__graph.dot
DOXYGENDOC/html/d9/d4d/namespaceTASK4.html
DOXYGENDOC/html/d9/d52/TASK6_8H.html
DOXYGENDOC/html/d9/d52/TASK6_8H_source.html
DOXYGENDOC/html/d9/d81/classSHA256.html
DOXYGENDOC/html/d9/d9f/classTASK5_1_1WebCamObserver.html
DOXYGENDOC/html/d9/db3/classInputTest__B__inherit__graph.dot
DOXYGENDOC/html/d9/dc4/classTASK6_1_1UnitTest__inherit__graph.dot
DOXYGENDOC/html/d9/dc8/classTASK6_1_1List__inherit__graph.dot
DOXYGENDOC/html/d9/dd8/namespaceTASK6.html
DOXYGENDOC/html/da/dc8/classTASK5_1_1ConcreteObserver.html
DOXYGENDOC/html/db/d12/classTASK6_1_1Queue.html
DOXYGENDOC/html/db/d13/classTASK5_1_1WebCamObserverDownscale__inherit__graph.dot
DOXYGENDOC/html/db/d91/TASK4_8H.html
DOXYGENDOC/html/db/d91/TASK4_8H_source.html
DOXYGENDOC/html/db/da7/classTASK6_1_1List.html
DOXYGENDOC/html/db/db3/classInputTest__B.html
DOXYGENDOC/html/db/dc7/classTCPclient.html
DOXYGENDOC/html/db/ddf/classTASK5_1_1WebCamObserverGray.html
DOXYGENDOC/html/dc/d0f/classTCPserver.html
DOXYGENDOC/html/dc/da0/classInputTest__B__coll__graph.dot
DOXYGENDOC/html/dc/da1/TASK4_8H__incl.dot
DOXYGENDOC/html/dc/dd6/classTASK5_1_1Subject.html
DOXYGENDOC/html/dd/d7c/TASK3_8H.html
DOXYGENDOC/html/dd/d7c/TASK3_8H_source.html
DOXYGENDOC/html/de/d58/classTASK6_1_1TestCase__coll__graph.dot
DOXYGENDOC/html/de/d74/classTASK5_1_1Subject__coll__graph.dot
DOXYGENDOC/html/de/dda/classTASK6_1_1TestSuite__coll__graph.dot
DOXYGENDOC/html/de/df5/TASK3_8H__incl.dot
DOXYGENDOC/html/df/d22/classTASK6_1_1TestItem.html
DOXYGENDOC/html/df/d3b/classTASK3_1_1World__coll__graph.dot
DOXYGENDOC/html/df/d49/classTASK5_1_1ConcreteSubject__inherit__graph.dot
DOXYGENDOC/html/dir_000001_000000.html
DOXYGENDOC/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
DOXYGENDOC/html/dir_68267d1309a1af8e8297ef4c3efbcdba_dep.dot
DOXYGENDOC/html/dir_d44c64559bbebec7f509842c48db8b23.html
DOXYGENDOC/html/doc.svg
DOXYGENDOC/html/docd.svg
DOXYGENDOC/html/doxygen.css
DOXYGENDOC/html/doxygen.svg
DOXYGENDOC/html/dynsections.js
DOXYGENDOC/html/files.html
DOXYGENDOC/html/folderclosed.svg
DOXYGENDOC/html/folderclosedd.svg
DOXYGENDOC/html/folderopen.svg
DOXYGENDOC/html/folderopend.svg
DOXYGENDOC/html/functions.html
DOXYGENDOC/html/functions_func.html
DOXYGENDOC/html/functions_vars.html
DOXYGENDOC/html/graph_legend.dot
DOXYGENDOC/html/graph_legend.html
DOXYGENDOC/html/hierarchy.html
DOXYGENDOC/html/index.html
DOXYGENDOC/html/inherit_graph_0.dot
DOXYGENDOC/html/inherit_graph_1.dot
DOXYGENDOC/html/inherit_graph_10.dot
DOXYGENDOC/html/inherit_graph_11.dot
DOXYGENDOC/html/inherit_graph_12.dot
DOXYGENDOC/html/inherit_graph_2.dot
DOXYGENDOC/html/inherit_graph_3.dot
DOXYGENDOC/html/inherit_graph_4.dot
DOXYGENDOC/html/inherit_graph_5.dot
DOXYGENDOC/html/inherit_graph_6.dot
DOXYGENDOC/html/inherit_graph_7.dot
DOXYGENDOC/html/inherit_graph_8.dot
DOXYGENDOC/html/inherit_graph_9.dot
DOXYGENDOC/html/inherits.html
DOXYGENDOC/html/jquery.js
DOXYGENDOC/html/menu.js
DOXYGENDOC/html/menudata.js
DOXYGENDOC/html/minus.svg
DOXYGENDOC/html/minusd.svg
DOXYGENDOC/html/namespacemembers.html
DOXYGENDOC/html/namespacemembers_enum.html
DOXYGENDOC/html/namespacemembers_eval.html
DOXYGENDOC/html/namespacemembers_func.html
DOXYGENDOC/html/namespaces.html
DOXYGENDOC/html/nav_f.png
DOXYGENDOC/html/nav_fd.png
DOXYGENDOC/html/nav_g.png
DOXYGENDOC/html/nav_h.png
DOXYGENDOC/html/nav_hd.png
DOXYGENDOC/html/open.png
DOXYGENDOC/html/plus.svg
DOXYGENDOC/html/plusd.svg
DOXYGENDOC/html/search/all_0.js
DOXYGENDOC/html/search/all_1.js
DOXYGENDOC/html/search/all_10.js
DOXYGENDOC/html/search/all_11.js
DOXYGENDOC/html/search/all_12.js
DOXYGENDOC/html/search/all_13.js
DOXYGENDOC/html/search/all_14.js
DOXYGENDOC/html/search/all_2.js
DOXYGENDOC/html/search/all_3.js
DOXYGENDOC/html/search/all_4.js
DOXYGENDOC/html/search/all_5.js
DOXYGENDOC/html/search/all_6.js
DOXYGENDOC/html/search/all_7.js
DOXYGENDOC/html/search/all_8.js
DOXYGENDOC/html/search/all_9.js
DOXYGENDOC/html/search/all_a.js
DOXYGENDOC/html/search/all_b.js
DOXYGENDOC/html/search/all_c.js
DOXYGENDOC/html/search/all_d.js
DOXYGENDOC/html/search/all_e.js
DOXYGENDOC/html/search/all_f.js
DOXYGENDOC/html/search/classes_0.js
DOXYGENDOC/html/search/classes_1.js
DOXYGENDOC/html/search/classes_2.js
DOXYGENDOC/html/search/classes_3.js
DOXYGENDOC/html/search/classes_4.js
DOXYGENDOC/html/search/classes_5.js
DOXYGENDOC/html/search/classes_6.js
DOXYGENDOC/html/search/classes_7.js
DOXYGENDOC/html/search/classes_8.js
DOXYGENDOC/html/search/classes_9.js
DOXYGENDOC/html/search/close.svg
DOXYGENDOC/html/search/enums_0.js
DOXYGENDOC/html/search/enums_1.js
DOXYGENDOC/html/search/enumvalues_0.js
DOXYGENDOC/html/search/enumvalues_1.js
DOXYGENDOC/html/search/enumvalues_2.js
DOXYGENDOC/html/search/enumvalues_3.js
DOXYGENDOC/html/search/enumvalues_4.js
DOXYGENDOC/html/search/enumvalues_5.js
DOXYGENDOC/html/search/enumvalues_6.js
DOXYGENDOC/html/search/enumvalues_7.js
DOXYGENDOC/html/search/enumvalues_8.js
DOXYGENDOC/html/search/enumvalues_9.js
DOXYGENDOC/html/search/files_0.js
DOXYGENDOC/html/search/files_1.js
DOXYGENDOC/html/search/functions_0.js
DOXYGENDOC/html/search/functions_1.js
DOXYGENDOC/html/search/functions_2.js
DOXYGENDOC/html/search/functions_3.js
DOXYGENDOC/html/search/functions_4.js
DOXYGENDOC/html/search/functions_5.js
DOXYGENDOC/html/search/functions_6.js
DOXYGENDOC/html/search/functions_7.js
DOXYGENDOC/html/search/functions_8.js
DOXYGENDOC/html/search/functions_9.js
DOXYGENDOC/html/search/functions_a.js
DOXYGENDOC/html/search/functions_b.js
DOXYGENDOC/html/search/functions_c.js
DOXYGENDOC/html/search/functions_d.js
DOXYGENDOC/html/search/mag.svg
DOXYGENDOC/html/search/mag_d.svg
DOXYGENDOC/html/search/mag_sel.svg
DOXYGENDOC/html/search/mag_seld.svg
DOXYGENDOC/html/search/namespaces_0.js
DOXYGENDOC/html/search/search.css
DOXYGENDOC/html/search/search.js
DOXYGENDOC/html/search/searchdata.js
DOXYGENDOC/html/search/variables_0.js
DOXYGENDOC/html/search/variables_1.js
DOXYGENDOC/html/search/variables_2.js
DOXYGENDOC/html/search/variables_3.js
DOXYGENDOC/html/search/variables_4.js
DOXYGENDOC/html/search/variables_5.js
DOXYGENDOC/html/search/variables_6.js
DOXYGENDOC/html/search/variables_7.js
DOXYGENDOC/html/splitbar.png
DOXYGENDOC/html/splitbard.png
DOXYGENDOC/html/sync_off.png
DOXYGENDOC/html/sync_on.png
DOXYGENDOC/html/tab_a.png
DOXYGENDOC/html/tab_ad.png
DOXYGENDOC/html/tab_b.png
DOXYGENDOC/html/tab_bd.png
DOXYGENDOC/html/tab_h.png
DOXYGENDOC/html/tab_hd.png
DOXYGENDOC/html/tab_s.png
DOXYGENDOC/html/tab_sd.png
DOXYGENDOC/html/tabs.css
